<div class="row">
    <div class="col-xs-12">
        <small>Connected to
            <span ng-repeat="device in devices">{{ device.name }}<span
                    ng-show="$index < devices.length - 1">, </span></span>
        </small>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="console" scroll-glue>
            <div ng-repeat="command in commands | orderBy: 'creation_timestamp' track by command.uuid">
                    <span class="console-execute">
                        <i class="fa fa-cog" ng-show="command.status === 0"></i>
                        <i class="fa fa-cog fa-spin" ng-show="command.status === 1" ng-click="killCmd(command)"></i>
                        <i class="fa fa-check" ng-show="command.status === 2"></i>
                        <i class="fa fa-exclamation-triangle" ng-show="command.status === 3"></i>
                    </span>
                <span class="console-date">({{ command.creation_timestamp | date : 'dd.MM.yyyy \- HH:mm' }}) {{ getDevice(command).name }}$</span>
                <span class="console-execute">{{ command.execute }}</span>
                <span class="console-result">{{ command.result }}</span>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-bottom: 30px;">
    <div class="col-xs-12">
        <div ui-ace="{theme:'terminal',mode: 'sh'}" enter-submit="executeCommand()" ng-model="commandTemplate.execute"
             placeholder="Enter your command"></div>
    </div>
</div>
<div class="row" style="margin-bottom: 5px;">
    <div class="col-xs-12 col-sm-8 commandTemplate">
        <select class="pull-left" ng-model="commandTemplate"
                ng-options="cmdTemplate.name for cmdTemplate in commandTemplates">
            <option value="">choose or create template</option>
        </select>
        <input type="text" ng-model="commandTemplate.name">
        </input>
        <button ng-click="saveCommandTemplate()" type="button" class="btn btn-primary">
            <span class="fa fa-save"></span>
        </button>
        <button ng-click="deleteCommandTemplate()" type="button" class="btn btn-danger">
            <span class="fa fa-trash"></span>
        </button>
    </div>
    <div class="col-xs-12 col-sm-4">
        <button ng-click="executeCommand()" type="button" class="btn btn-primary pull-right">
            Execute Command
        </button>
    </div>
</div>