<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript" src="{{ STATIC_URL }}js/ws4redis.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script>
        jQuery(document).ready(function ($) {
            var ws4redis = WS4Redis({
                uri: '{{ WEBSOCKET_URI }}foobar?subscribe-broadcast&publish-broadcast&echo',
                receive_message: receiveMessage
            });

            // attach this function to an event handler on your site
            function sendMessage() {
                ws4redis.send_message('A message');
            }

            // receive a message though the websocket from the server
            function receiveMessage(msg) {
                alert('Message from Websocket: ' + msg);
            }

            sendMessage();
        });
    </script>
    <title>Websocket Test</title>
</head>
<body>

</body>
</html>