<div ng-include="'/static/components/navbar/navbar.html'"></div>

<div class="container">

    <h1>
        <status-indicator device="device" statuses="device.statuses"></status-indicator>
        {{ device.name }}
        <small>
            last seen <span am-time-ago="statuses[0].creation_timestamp"></span>
        </small>
    </h1>

    <div class="row">
        <div class="col-xs-12">
            <div class="console" scroll-glue>
                <div ng-repeat="command in commands | orderBy: 'creation_timestamp' : false track by command.uuid">
                    <span class="console-execute">
                        <i class="fa fa-cog" ng-show="command.status === 0"></i>
                        <i class="fa fa-cog fa-spin" ng-show="command.status === 1" ng-click="killCmd(command.uuid)"></i>
                        <i class="fa fa-check" ng-show="command.status === 2"></i>
                    </span>
                    <span class="console-date">{{ command.creation_timestamp | date : 'dd.MM.yyyy \- HH:mm' }}: </span>
                    <span class="console-execute">{{ command.execute }}</span>
                    <span class="console-result">{{ command.result }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="terminal row" style="margin-bottom: 30px;">
        <div class="col-xs-11">
            <div ui-ace="{theme:'terminal',mode: 'sh'}" enter-submit="submitCmd()" ng-model="cmd" placeholder="Enter your command"></div>
        </div>
        <div class="col-xs-1">
            <button ng-click="submitCmd()" type="button" class="terminal_execute btn btn-default btn-lg">
                <span class="fa fa-terminal"></span>
            </button>
        </div>
    </div>

    <div class="row" style="margin-bottom: 30px;">
        <div class="col-md-6">
            <device-cpu-chart statuses="statuses"></device-cpu-chart>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-content card-size-12">
                    <strong>OS: </strong> {{ device.os }}<br/>
                    <strong>IP: </strong> {{ statuses[0].ip }}<br/>
                    <i>{{ device.description }}</i><br/>
                </div>
            </div>
        </div>
    </div>
</div>