<div ng-include="'/static/components/navbar/navbar.html'"></div>

<div class="container">

    <h1>
        Add Device
    </h1>

    <h2>Step {{ step }}/3</h2>

    <div class="row" ng-hide="step !== 1">
        <div class="col-xs-12">
            <form class="form-horizontal" name="form" ng-submit="createDevice(form)">
                <div class="form-group">
                    <label for="name" class="sr-only">Name</label>

                    <div class="col-xs-4">
                        <input class="form-control" type="text" id="name" name="name" ng-model="deviceForm.name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4">
                        <select class="form-control" id="type" name="type" ng-model="deviceForm.type">
                            <option value="RPA">Raspberry Pi Model A</option>
                            <option value="RPB">Raspberry Pi Model B</option>
                            <option value="ODR">ODROID</option>
                            <option value="DWR">DD-WRT Router</option>
                            <option value="OWR">OpenWRT Router</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="wifichip" class="sr-only">Wifi Chip</label>

                    <div class="col-xs-4">
                        <input class="form-control" type="text" id="wifichip" name="wifichip" ng-model="deviceForm.wifichip" placeholder="Wifi Chip">
                    </div>
                </div>
                <div class="form-group">
                    <label for="os" class="sr-only">Operating System</label>

                    <div class="col-xs-4">
                        <input class="form-control" type="text" id="os" name="os" ng-model="deviceForm.os" placeholder="Operating System">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="sr-only">Description</label>

                    <div class="col-xs-4">
                        <input class="form-control" type="text" id="description" name="description" ng-model="deviceForm.description" placeholder="Description">
                    </div>
                </div>
                <div class="form-group">
                    <label for="tags" class="sr-only">Tags</label>

                    <div class="col-xs-4">
                        <input class="form-control" type="text" id="tags" name="tags" ng-model="deviceForm.tags" placeholder="Tags comma-separated">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary">Continue</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" ng-hide="step !== 2">
        <div class="col-xs-12">
            <p>Your device has successfully been created. Set it up by copy-pasting the following command to your devices terminal/ssh:</p>

            <blockquote>
                wget {{ hostURL }}/static/device_daemon.sh && sudo sh device_daemon.sh {{ device.apikey }}
            </blockquote>
            <button class="btn btn-primary" type="submit" ng-click="bootstrap()">
                I copied and executed the command on the device
            </button>
        </div>
    </div>

    <div class="row" ng-hide="step !== 3">
        <div class="col-xs-12">
            <p>{{ status }}</p>
        </div>
    </div>
</div>