<div ng-include="'/static/components/navbar/navbar.html'"></div>

<div class="container-fluid">


    <div class="row">

        <div class="col-xs-6">
            <h1>Registered Devices
                <small ng-show="selectedDevices().length>0">({{ selectedDevices().length }} devices selected)</small>
            </h1>
        </div>

        <div class="col-xs-6">
            <!-- Drpodown button -->
            <div class="btn-group pull-right" ng-show="selectedDevices().length > 0">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Quick Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="multiExecuteAction()">Multi-execute command</a></li>
                    <li><a href="" ng-click="updateDeamonAction()">Update deamon script</a></li>
                    <li><a href="" ng-click="killCommandsAction()">Kill all running commands</a></li>
                    <li><a href="" ng-click="deleteDevicesAction()">Delete devices</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-content card-size-3">
                    <a ng-href="device/add">
                        <div class="device-btn-add"><span class="fa fa-plus"></span></div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3" ng-repeat="device in devices">

            <div class="card" ng-click="device.isSelected = !device.isSelected">
                <div class="card-content card-size-3" ng-class="{ 'selected': device.isSelected }">
                    <span class="fa fa-trash-o pull-right" ng-click="deleteDevice(device)"></span>
                    <status-indicator device="device" statuses="device.statuses"></status-indicator>
                    <a ng-href="device/{{ device.uuid }}/status">
                        <strong>{{ device.name }}</strong><br>
                    </a>
                    CPU: <strong>{{ device.statuses[device.statuses.length - 1].cpu_load }} %</strong><br>
                    Type: <strong>{{ device.type }}</strong><br>

                    <device-cpu-chart statuses="device.statuses" labels="false"></device-cpu-chart>
                </div>
            </div>

        </div>
    </div>

</div>