<div ng-include="'/static/components/navbar/navbar.html'"></div>

<div class="container">

    <h1>
        <status-indicator device="device" statuses="statuses"></status-indicator>
        {{ device.name }}
        <small>
            last seen <span am-time-ago="statuses[0].creation_timestamp"></span>
        </small>
    </h1>

    <div class="row" style="margin-bottom: 30px;">
        <div class="col-xs-6">
            <p>
                <strong>IP: </strong> {{ statuses[0].ip }}<br/>
                <strong>OS: </strong> {{ device.os }}<br/>
                <i>{{ device.description }}</i><br/>
            </p>
        </div>
        <div class="col-xs-6">
            <!-- Drpodown button -->
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="copyCommand()">Bootstrap command</a></li>
                    <li><a href="" ng-click="updateDeamonAction()">Update deamon script</a></li>
                    <li><a href="" ng-click="killCommandsAction()">Kill all running commands</a></li>
                </ul>
            </div>
        </div>
    </div>

    <terminal devices="[device]"></terminal>

    <h1>CPU / Memory</h1>

    <div class="row" style="margin-bottom: 30px;">
        <div class="col-xs-12">
            <device-cpu-chart statuses="statuses"></device-cpu-chart>
        </div>
    </div>
</div>