<div ng-include="'static/components/navbar/navbar.html'"></div>

<div class="container">

    <h1>Device Status for {{ device.name }}</h1>

    <div class="row">
        <div class="col-md-6">

            <form ng-submit="submitCmd()">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter your command" ng-model="cmd">
                <button type="submit" class="btn btn-default">Execute</button>
            </form>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>cmd</th>
                    <th>result</th>
                </tr>
                </thead>
                <tbody ng-repeat="command in commands">
                <tr>
                    <td>{{ command.execute }}</td>
                    <td>{{ command.result }}</td>
                </tr>

                </tbody>
            </table>

        </div>
        <div class="col-md-6">

            <device-cpu-chart statuses="statuses"></device-cpu-chart>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>IP</th>
                    <th>CPU</th>
                    <th>Memory</th>
                    <th>Disk</th>
                </tr>
                </thead>
                <tbody ng-repeat="status in statuses | orderBy:'timeStamp' track by $index">
                <tr>
                    <td>{{ status.ip }}</td>
                    <td>{{ status.cpu_load }}</td>
                    <td>{{ status.used_memory }} / {{ status.total_memory }}</td>
                    <td>{{ status.used_disk }} / {{ status.total_disk }}</td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>